/* ======== GERAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #fdfcfc;
  color: #000000;
  text-align: center;
  line-height: 1.6;
}

{
  font-family: "Poppins", Arial, sans-serif;
  background-color: 
  color: #000000;
  text-align: center;
  line-height: 1.6
}
